.toggle-container {
 
    padding: 1rem 0;
    right: 10%;
    top: 23px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    position: absolute;
    z-index: 999;
  }
  .dark-theme {
   background-color: rgb(35, 33, 33);
   color: rgb(87, 83, 83);
  }
  
  .dark-toggle {
    background: transparent;
    border-color: transparent;
    width: 5rem;
    height: 2rem;
    place-items: center;
    cursor: pointer;
  }
  .toggle-icon {
    font-size: 1.5rem;

  }


  @media only screen and (max-width: 786px) {
    .toggle-container {

        top: 18px;
      
      }
  }
  